REMEMBER: FIRST CREATE A COPY OF THIS FILE WITH A UNIQUE NAME AND DO YOUR WORK THERE. AND MAKE SURE YOU COMMIT YOUR CHANGES TO THE `hw3_submissions` BRANCH.

# Assignment 3 | Cleaning and Exploring Data with Pandas

<img src="data/scoreCard.jpg" width=250>

In this assignment, you will investigate restaurant food safety scores for restaurants in San Francisco. Above is a sample score card for a restaurant. The scores and violation information have been made available by the San Francisco Department of Public Health.

## Loading Food Safety Data


There are 2 files in the data directory:
1. business.csv containing food establishments in San Francisco
1. inspections.csv containing retaurant inspections records

Let's start by loading them into Pandas dataframes.  One of the files, business.csv, has encoding (ISO-8859-1), so you will need to account for that when reading it.

### Question 1

#### Question 1a
Read the two files noted above into two pandas dataframes named `bus` and `ins`, respectively. Print the first 5 rows of each to inspect them.

In [66]:
import pandas as pd

In [67]:
bus = pd.read_csv('data/businesses.csv', encoding='ISO-8859-1')
ins = pd.read_csv('data/inspections.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/businesses.csv'

In [ ]:
bus.head()

In [ ]:
ins.head()

## Examining the Business data

From its name alone, we expect the `businesses.csv` file to contain information about the restaurants. Let's investigate this dataset.

### Question 2

#### Question 2a: How many records are there?

In [68]:
bus.describe()

        business_id     latitude    longitude
count   6315.000000  3599.000000  3599.000000
mean   48562.416627    37.773807  -122.425298
std    33825.711496     0.022876     0.027568
min       10.000000    37.668824  -122.510896
25%     5891.500000    37.760571  -122.436385
50%    65012.000000    37.780739  -122.418626
75%    79197.000000    37.790038  -122.406149
max    90239.000000    37.834628  -122.264171

In [69]:
6315 Records

SyntaxError: invalid syntax (1366223022.py, line 1)

#### Question 2b: How many unique business IDs are there?

In [70]:
bus.nunique()

business_id     6315
name            5692
address         5534
city               1
state              1
postal_code       46
latitude        2865
longitude       2914
phone_number    4919
dtype: int64

In [71]:
6315

6315

#### Question 2c: What are the 5 most common businesses by name, and how many are there in San Francisco?

In [72]:
bus['name'].value_counts().head(5)

STARBUCKS COFFEE              72
PEET'S COFFEE & TEA           24
MCDONALDS                     12
SAN FRANCISCO SOUP COMPANY    11
WALGREENS                     11
Name: name, dtype: int64

## Zip code

Next, let's  explore some of the variables in the business table. We begin by examining the postal code.

### Question 3

#### Question 3a
How are the zip code values stored in python (i.e. data type)?

To answer this you might want to examine a particular entry.

In [73]:
bus['postal_code'].dtypes

dtype('O')

In [74]:
bus.dtypes

business_id       int64
name             object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
phone_number     object
dtype: object

#### Question 3b

What are the unique values of postal_code?

In [75]:
bus['postal_code'].unique()

array(['94104', '94109', '94133', '94110', '94122', '94103', '94115',
       '94131', '94111', '94117', '94107', '94108', '94102', '94132',
       '94105', '94134', '94124', '94116', '94121', '94118', '94112',
       '94123', '94114', '94127', '941102019', '941', '94545', '94066',
       '941033148', nan, '94158', '95105', '94013', '94130', 'CA',
       '92672', '94120', '94143', '94609', '94101', '00000', '94188',
       '94621', '94014', '94129', '94602', 'Ca'], dtype=object)

#### Question 3c

Let's say we decide to exclude the businesses that have no zipcode for our analysis (which might include food trucks for example).  Use the list of valid 5-digit zip codes below to create a new dataframe called bus_valid, with only businesses whose postal_codes show up in this list of valid zipcodes. How many businesses are there in this new dataframe?

In [76]:
validZip = ["94102", "94103", "94104", "94105", "94107", "94108",
            "94109", "94110", "94111", "94112", "94114", "94115",
            "94116", "94117", "94118", "94121", "94122", "94123", 
            "94124", "94127", "94131", "94132", "94133", "94134"]

In [77]:
vb = bus[bus['postal_code'].isin(validZip)]

In [78]:
vb.nunique()

business_id     5999
name            5438
address         5345
city               1
state              1
postal_code       24
latitude        2808
longitude       2854
phone_number    4737
dtype: int64

## Latitude and Longitude

Another aspect of the data we want to consider is the prevalence of missing values. If many records have missing values then we might be concerned about whether the nonmissing values are representative of the population.

### Question 4
 
Consider the longitude and latitude in the business DataFrame. 

#### Question 4a

How many businesses are missing longitude values, working with only the businesses that are in the list of valid zipcodes?

In [79]:
vb_na = vb[pd.isnull(vb['longitude'])]
vb_na.nunique()

business_id     2483
name            2272
address         2086
city               1
state              1
postal_code       24
latitude           0
longitude          0
phone_number    1839
dtype: int64

#### Question 4b

Create a new dataframe with one row for each valid zipcode. The dataframe should include the following three columns:

1. `postal_code`: Contains the zip codes in the `validZip` variable above.
2. `null_lon`: The number of businesses in that zipcode with missing `longitude` values.
3. `not_null_lon`: The number of businesses without missing `longitude` values.

In [80]:
vb_not_na = vb[pd.notna(vb['longitude'])]
vb_not_na.nunique()

business_id     3516
name            3265
address         3349
city               1
state              1
postal_code       24
latitude        2808
longitude       2854
phone_number    2994
dtype: int64

In [81]:
vb_zip = vb[['longitude','postal_code']]
vb_zip.head()

    longitude postal_code
0 -122.403816       94104
1 -122.421547       94109
2 -122.403135       94104
3 -122.419004       94133
4 -122.413641       94110

In [82]:
vb_zip['null_lon'] = vb['longitude'].isnull()
vb_zip['not_null_lon'] = vb['longitude'].notnull()

postal_group = vb_zip[['postal_code', 'null_lon','not_null_lon']].groupby(vb_zip['postal_code']).sum()
postal_group

C:\Users\sandr\AppData\Local\Temp\ipykernel_23036\632782218.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vb_zip['null_lon'] = vb['longitude'].isnull()
C:\Users\sandr\AppData\Local\Temp\ipykernel_23036\632782218.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vb_zip['not_null_lon'] = vb['longitude'].notnull()
C:\Users\sandr\AppData\Local\Temp\ipykernel_23036\632782218.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  postal_group = vb_zip[['postal_code', 'null_lon','not_null_lon']].groupby(vb_zip['postal_code']).sum()

             null_lon  not_null_lon
postal_code
94102             196           262
94103             252           306
94104              59            74
94105             100           126
94107             247           204
94108              82           142
94109             146           237
94110             251           334
94111             115           167
94112              59           131
94114             108           122
94115              76           162
94116              35            58
94117              67           130
94118             100           143
94121              55           106
94122             123           147
94123              53           116
94124              88            76
94127              28            43
94131              14            34
94132              65            69
94133             135           282
94134              29            45

In [83]:
vb_zip.head()

    longitude postal_code  null_lon  not_null_lon
0 -122.403816       94104     False          True
1 -122.421547       94109     False          True
2 -122.403135       94104     False          True
3 -122.419004       94133     False          True
4 -122.413641       94110     False          True

#### 4c. Do any zip codes appear to have more than their 'fair share' of missing longitude? 

To answer this, you will want to compute the proportion of missing longitude values for each zip code, and print the proportion missing longitude, and print the top five zipcodes in descending order of proportion missing postal_code.

In [90]:
proportion_missing = postal_group.groupby('postal_code')['null_lon'].mean()
proportion_missing.sort_values(ascending=False).head(5)

postal_code
94103    252.0
94110    251.0
94107    247.0
94102    196.0
94109    146.0
Name: null_lon, dtype: float64

# Investigate the inspection data

Let's now turn to the inspection DataFrame. Earlier, we found that `ins` has 4 columns, these are named `business_id`, `score`, `date` and `type`.  In this section, we determine the granularity of `ins` and investigate the kinds of information provided for the inspections. 

### Question 5

#### Question 5a
As with the business data, assess whether there is one inspection record for each business, by counting how many rows are in the data and how many unique businesses there are in the data. If they are exactly the same number, it means there is only one inspection per business, clearly.

In [108]:
print("Number of Unique Businesses:", ins['business_id'].nunique())
print("Number of Total Businesses:", ins['business_id'].count())
#ins.describe()

Number of Unique Businesses: 5730
Number of Total Businesses: 15430

#### Question 5b

What values does `type` take on? How many occurrences of each value is in the DataFrame? Create a new dataframe named `ins2` by copying `ins` and keeping only records with values of `type` that occur more than 10 times in the original table. In other words, eliminate records that have values of `type` that occur rarely (< 10 times). Check the result to make sure rare types are eliminated.

In [113]:
ins['type'].value_counts()

routine      15429
complaint        1
Name: type, dtype: int64

In [116]:
ins2 = ins[ins['type'] == 'routine'].copy()
ins2['type'].value_counts()

routine    15429
Name: type, dtype: int64

#### Question 5c

Since the data was stored in a .csv file, the dates are formatted as strings such as `20160503`. Once we read in the data, we would like to have dates in an appropriate format for analysis. Add a new column called `year` by capturing the first four characters of the date column. 

Hint: we have seen multiple ways of doing this in class, includings `str` operations, `lambda` functions, `datetime` operations, and others. Choose the method that works best for you :)

In [117]:
ins2.head()

   business_id  score      date     type
0           10     82  20160503  routine
1           10     94  20140729  routine
2           10     92  20140114  routine
3           19     94  20160513  routine
4           19     94  20141110  routine

In [122]:
print(ins2.dtypes)

business_id     int64
score           int64
date            int64
type           object
dtype: object

In [124]:
ins2['year'] = ins['date'].astype(str).str[:4].astype('int32')

ins2.head()

   business_id  score      date     type  year
0           10     82  20160503  routine  2016
1           10     94  20140729  routine  2014
2           10     92  20140114  routine  2014
3           19     94  20160513  routine  2016
4           19     94  20141110  routine  2014

#### Question 5d

What range of years is covered in this data set? Are there roughly same number of inspections each year? Try dropping records for any years with less than 50 inspections and store the result in a new dataframe named `ins3`.

In [125]:
ins2['year'].value_counts()

2016    5839
2014    5629
2015    3923
2013      38
Name: year, dtype: int64

In [128]:
ins3 = ins2[ins2['year'].isin([2014, 2015, 2016])].copy()

ins3.head()

   business_id  score      date     type  year
0           10     82  20160503  routine  2016
1           10     94  20140729  routine  2014
2           10     92  20140114  routine  2014
3           19     94  20160513  routine  2016
4           19     94  20141110  routine  2014

Let's examine only the inspections for one year: 2016. This puts businesses on a more equal footing because [inspection guidelines](https://www.sfdph.org/dph/eh/Food/Inspections.asp) generally refer to how many inspections should occur in a given year.

In [130]:
ins_2016 = ins2[ins2['year'].isin([2016])].copy()

ins_2016.head()

    business_id  score      date     type  year
0            10     82  20160503  routine  2016
3            19     94  20160513  routine  2016
6            24     98  20161005  routine  2016
7            24     96  20160311  routine  2016
10           31     84  20160816  routine  2016

### Question 6

#### Question 6a

Merge the business and 2016 inspections data, keeping all businesses regardless of whether they show up in the inspections file. Show the first several rows of the resulting dataframe.

In [134]:
merged_bins = pd.merge(bus, ins_2016, on=["business_id", "business_id"])
merged_bins.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,score,date,type,year
0,10,TIRAMISU KITCHEN,033 BELDEN PL,San Francisco,CA,94104,37.791116,-122.403816,+14154217044,82,20160503,routine,2016
1,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,+14157763262,94,20160513,routine,2016
2,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494,98,20161005,routine,2016
3,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494,96,20160311,routine,2016
4,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN,84,20160816,routine,2016

#### Question 6b
Print the 20 lowest rated businesses names, their addresses, and their ratings.

In [137]:
merged_bins.sort_values(by='score').head(20)

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,score,date,type,year
3931,71373,GOLDEN RIVER RESTAURANT,5827 GEARY BLVD,San Francisco,CA,94121,37.780144,-122.482040,+14156685105,52,20161031,routine,2016
5726,87652,POKI TIME,2101 LOMBARD ST,San Francisco,CA,94123,NaN,NaN,+14156366868,55,20160721,routine,2016
4981,81667,CRAZY PEPPER,2257 SAN JOSE AVE,San Francisco,CA,94112,NaN,NaN,+14157348687,55,20160901,routine,2016
3917,71232,UNCLE CAFE,65 WAVERLY PL,San Francisco,CA,94108,37.794034,-122.406794,+14155701380,55,20160308,routine,2016
2488,34585,HING WANG BAKERY,339 JUDAH ST,San Francisco,CA,94122,37.762174,-122.465809,+14156813928,56,20160201,routine,2016
4481,78328,GOLDEN WOK,295 B ORIZABA AVE,San Francisco,CA,94132,NaN,NaN,+14155868000,56,20160824,routine,2016
4298,76615,TOP'S CAFE,2460 SAN BRUNO AVE,San Francisco,CA,94134,NaN,NaN,+14157156868,57,20160504,routine,2016
4824,80591,L & G VIETNAMESE SANDWICH,602 EDDY ST,San Francisco,CA,94109,NaN,NaN,+14158856402,57,20160129,routine,2016
696,2716,RED A BAKERY,634 CLEMENT ST,San Francisco,CA,94118,37.782888,-122.466101,+14155663888,57,20160323,routine,2016
3415,67330,SAN TUNG RESTAURANT LLC,1031 IRVING ST,San Francisco,CA,94122,37.763891,-122.468805,+14152420828,57,20160825,routine,2016
457,1843,MA'S DIM SUM & CAFE,1315 POWELL ST,San Francisco,CA,94133,37.796683,-122.410134,+14157883532,57,20160216,routine,2016
3940,71440,"NEW GARDEN RESTAURANT, INC.",716 KEARNY ST,San Francisco,CA,94108,NaN,NaN,+14159567888,57,20161121,routine,2016
5226,83647,KOBANI MEDITERANEAN GRILL,3242 SCOTT ST,San Francisco,CA,94123,NaN,NaN,+14156665567,58,20160714,routine,2016
523,2044,JOANIE'S DINER INC.,1329 COLUMBUS AVE,San Francisco,CA,94133,37.806546,-122.419277,+14158232670,59,20160204,routine,2016
5424,85587,PAK NAM THAI CUISINE,655 LARKIN ST,San Francisco,CA,94109,NaN,NaN,+14156097089,59,20160927,routine,2016
2927,61161,JADE GARDEN,3608 BALBOA ST,San Francisco,CA,94121,37.775728,-122.497612,+14152218168,59,20160107,routine,2016
3430,67564,ITHAI,720 POST ST,San Francisco,CA,94109,37.787691,-122.413717,+14156581010,59,20161108,routine,2016
4885,81106,VALLARTA'S TACO BAR,2022 MISSION ST,San Francisco,CA,94110,NaN,NaN,+14152528810,60,20160811,routine,2016
3904,70996,HONG KONG LOUNGE,5322 GEARY BLVD,San Francisco,CA,94121,37.780538,-122.476632,NaN,60,20160121,routine,2016
4025,72176,WOLFES LUNCH,1220 16TH ST,San Francisco,CA,94107,NaN,NaN,NaN,60,20160225,routine,2016

## Done!

Now commit this notebook to your `hw3_submissions` branch, push it to your GitHub repo, and open a PR!